<h1>Welcome, Company!</h1>
<p>This is your company dashboard.</p>

<a href="/company/create_profile">Create My Company Profile</a>

<br><br>

<a href="/company/profile/<%= user.id %>">View My Profile</a>

<br><br>

<a href="/company/browse_developers">Browse Developers</a>