<h1>Welcome, Job Seeker!</h1>
<p>This is your personalized dashboard.</p>

<a href="/job_seeker/create_profile">Create My Profile</a>

<br><br>

<a href="/job_seeker/profile/<%= user.id %>">View My Profile</a>